/**
 * Archives page
 */
.page-archives {
  .page-archives-list {
    margin-left: 0;
    list-style: none;
  }

  .archives-time {
    @include relative-font-size(1.5);

    &:not(:first-child) {
      margin-top: 18px;
    }
    margin-bottom: 8px;
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
}

/**
 * Pagination page
 */
.pagination {
  .post-list {
    margin-left: 0;
    list-style: none;

    > li {
      margin-bottom: $spacing-unit * 1.5;
      padding-bottom: 30px;

      &:not(:last-child) {
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }

  .post-title {
    margin-bottom: $spacing-unit * 0.2;
    transition: 0.2s all;

    a {
      text-decoration: none;

      &:after {
        content: 'NEW';
        position: absolute;
        margin-left: 8px;
        margin-top: 3px;
        padding: 0px 3px;
        background-color: $brand-color;
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        border-radius: 2px;
      }

      &:visited:after {
        background-color: #fff;
      }
    }
  }

  .post-meta {
    font-size: $base-font-size;
    color: $grey-color;
    margin-bottom: $spacing-unit * 0.5;
  }

  .post-link {
    @include relative-font-size(1.65);
    font-weight: $base-font-weight * 1.5;
    color: #333;
  }

  .post-excerpt {
    color: #777;
    word-break: break-word;
    overflow-wrap: break-word;

    .read_more {
      margin-left: 8px;
    }
  }

  .post-tags {
    margin: 0px;
  }

  .paginator {
    text-align: center;

    & > .previous:before {
      content: ' ';
      border: solid #787878;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      margin-right: 8px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

    & > .next:after {
      content: ' ';
      border: solid #787878;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      margin-left: 8px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    .previous span, .next span {
      color: #b3b3b3;
    }

    .indicator {
      padding: 0 15px;
    }
  }
}

/**
 * Segments page
 */
.page-segments {
  .page-segments-list {
    margin-left: 0;
    list-style: none;
  }

  .segment-name {
    font-weight: $base-font-weight * 1.5;
    margin-bottom: 8px;
    position: relative;

    @include relative-font-size(1.6);

    &:not(:first-child) {
      margin-top: 28px;
    }

    &:hover:before {
      content: '#';
      left: -1em;
      position: absolute;
    }
  }

  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }

  li a {
    &.post-link {
      margin-left: 5px;
    }

    color: #303030;

    &:hover {
      color: #000;
    }

    &:after {
      content: 'NEW';
      position: absolute;
      margin-left: 8px;
      margin-top: 3px;
      padding: 0px 3px;
      background-color: $brand-color;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      border-radius: 2px;
    }

    &:visited:after {
      background-color: #fff;
    }
  }
}
