/**
 * Page banner
 */
.page-banner {
  display: block;
  position: relative;
  height: $banner-height;
  background-color: $banner-background;
  transition: height 0.2s;

  .page-banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & > *:first-child {
      @include center-image;
      transition: 0.1s all ease-in-out;
    }

    & > video {
      width: 100vw;
      object-fit: cover;
    }

    & > img.img-placeholder {
      display: none;
    }
  }

  .wrapper {
    height: 100%;
  }

  .page-banner-inner {
    @include vertical-center(relative);

    color: $banner-text-color;
    padding: 10px 5px;
    text-shadow: 1px 1px 2px #33333355;

    & > *:first-child {
      margin: 0;

      > :nth-child(1) {
        @include relative-font-size(3.2);
        letter-spacing: -1px;
        margin-bottom: 0.1em;
        font-weight: normal;
        transition: 0.2s all;

        @include media-query($on-palm) {
          @include relative-font-size(1.675);
        }
      }

      > :nth-child(2) {
        font-weight: lighter;
        margin-bottom: 0.8em;
        transition: 0.2s all;

        @include media-query($on-palm) {
          @include relative-font-size(1.175);
        }
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .post-subtitle {
      @include relative-font-size(1.525);
      color: #ffffffcc;
      padding-right: 280px;

      @include media-query($on-palm) {
        padding-right: 0;
      }
    }

    .post-meta {
      color: #ffffffcc;
    }

    .left-vsplit:before {
      background: #e3e3e388;
    }

    .post-tags {
      color: #999;
      padding-right: 280px;

      @include media-query($on-palm) {
        padding-right: 0;
      }

      .post-tag {
        @include relative-font-size(1.125);
        display: inline-block;
        text-decoration: none;
        margin: 9px 12px 0 0;
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @include media-query($on-palm) {
    height: $banner-height / 1.5;
  }
}

/**
 * Responsive video container
 */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 1.5rem 0;
  border-radius: 8px;

    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0 !important; /* Force reset margin with high priority */
      padding: 0 !important; /* Force reset padding with high priority */
      border: none; /* Remove any default iframe border */
  
      /* Apply object-fit only to video tags, if desired for local videos */
      &[src$=".mp4"], &[src$=".webm"] { /* Targeting video elements by common source types or just the video tag */
          object-fit: contain; /* Or 'cover' depending on desired fill behavior for local videos */
      }
    }
}

.left-vsplit:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background-color: #e3e3e3e3;
  vertical-align: baseline;
}
