html.global-disable-scroll {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

/**
 * Page content
 */
.page-content {
  @extend %flex-1; /* <-- Keep footer on the bottom */
  -ms-flex: none; /* <-- Fix IE footer issue */
  padding: $spacing-unit * 2 0;
  padding-top: 72px;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

/**
 * Layout and sidebar
 */
.framework {
    @extend %flex;

  .main {
    @extend %flex-1;
  }

  .sidebar {
    padding-left: 8px;
    transition: top 0.2s, display 0.2s;

    @include flex-sticky($header-height + 20px);

    @include media-query($on-laptop) {
      display: none;
    }

  }
}